<h1>Add ingredient and details for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add ingredient", class: "btn btn-primary" %>
<% end %>
<hr>
<p><%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %></p>
<p><%= link_to 'Back to List', cocktails_path %></p>
